{% extends 'post_and_comments/header.html' %}

{% block content %}
    <form action="/posts/create/" method="post">
        <fieldset>
            <div>
                <label>Title</label>
                <input type="text" name="title">
            </div>
            <div>
                <label>Text</label>
                <input type="text" name="text">
            </div>
            <div>
                <label>Counter</label>
                <input type="int" name="counter">
            </div>
            <div>
                <label>Category</label>
                <input type="text" name="category">
            </div>
        </fieldset>
        <button type="submit">Create</button>
    </form> 
{% endblock %}
