<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01/EN" "https://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title>Page</title>
    </head>
    <body>
    </body>
</html>

# Просто строкой выводит информацию - wallets_list.hyml
<p> For wallet {{ wallet.name }} with currency {{ wallet.currency }} balance is {{ wallet.balance }} </p>

{% for wallet in wallets %}
<li> <a href="/posts/wallets/{{ wallet.id }}"> {{ wallet.name }} </a> </li>
{% endfor %} 

<p>
    {{wallet.name}}
</p>
<p>
    For wallet {{ wallet.name }} with currency {{ wallet.currency }} balance is {{ wallet.balance }}    
</p> 


_________________________________________________________

{% extends 'wallets/header.html' %}

{% block content %}

<p>
    {{wallet.name}}
</p>
<p>
    For wallet {{ wallet.name }} with currency {{ wallet.currency }} balance is {{ wallet.balance }}    
</p> 
{% endblock %}

{% extends 'wallets/header.html' %}